.button-style {
  width: 37px;
  height: 35px;
  margin: 0;
  padding: 0;
  background: rgba(2, 102, 193, 1);
  border: 1px solid rgba(2, 102, 193, 1);

  &:hover,
  &:focus-visible {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 51, 116, 1);
    outline: none;
    cursor: pointer;

    path {
      fill: rgba(28, 51, 116, 1);
    }
  }

  &:active {
    background: rgba(28, 51, 116, 1);

    path {
      fill: rgba(255, 255, 255, 1);
    }
  }

  &:disabled {
    background: rgba(2, 102, 193, 0.1);
    border: 1px solid rgba(2, 102, 193, 0.1);
    cursor: auto;

    path {
      fill: rgba(255, 255, 255, 1);
    }
  }
}
