.gallery {
  width: 100%;
  margin: 0;
  padding: 101px 0 10px;
  overflow: hidden;
}

.gallery__header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 100px;
  row-gap: 24px;
  width: 1200px;
  margin: 0 auto 20px;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
}

.gallery__header h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.gallery__header p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0 327px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.07px;
}

.gallery__box-button {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: center;
}

.gallery__button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__slider-wrapper {
  width: 100%;
  max-width: 1440px;
}

.gallery__card {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  height: auto;
}

.gallery__card-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
