.header {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 100px;
  width: 1200px;
  margin: 0;
  padding: 0;
  min-height: 62px;
}

.header__phone {
  margin-top: 24px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
