.header {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 138px;
  width: 1230px;
  margin: 0;
  padding: 0 15px;
  min-height: 62px;
}

@media (max-width: 1230px) {
  .header {
    width: 100%;
  }
}

.header__phone {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
