.hero-card {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  background: transparent;
}



.hero-card-caucasus {
  background: rgba(2, 102, 193, 0.3) url("./../../img/hero/caucasus/hero-caucasus.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/caucasus/hero-caucasus@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/caucasus/hero-caucasus-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba(2, 102, 193, 0.3) url("./../../img/hero/caucasus/hero-caucasus-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }

  @include vp-767 {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/caucasus/hero-caucasus-mobile.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba(2, 102, 193, 0.3) url("./../../img/hero/caucasus/hero-caucasus-mobile@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.hero-card-kamchatka {
  background: rgba(2, 102, 193, 0.3) url("./../../img/hero/kamchatka/hero-kamchatka.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/kamchatka/hero-kamchatka@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/kamchatka/hero-kamchatka-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba(2, 102, 193, 0.3) url("./../../img/hero/kamchatka/hero-kamchatka-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }

  @include vp-767 {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/kamchatka/hero-kamchatka-mobile.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba(2, 102, 193, 0.3) url("./../../img/hero/kamchatka/hero-kamchatka-mobile@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.hero-card-altai {
  background: rgba(2, 102, 193, 0.3) url("./../../img/hero/altai/hero-altai.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/altai/hero-altai@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/altai/hero-altai-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba(2, 102, 193, 0.3) url("./../../img/hero/altai/hero-altai-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }

  @include vp-767 {
    background: rgba(2, 102, 193, 0.3) url("./../../img/hero/altai/hero-altai-mobile.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba(2, 102, 193, 0.3) url("./../../img/hero/altai/hero-altai-mobile@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.hero-card__inner {
  margin: 0 auto;
  padding: 0 20px;
  background: url("./../../img/hero/overlay-hero.webp") 50% 0 / 100% 100% no-repeat;
  display: none;

  @include vp-1199 {
    padding: 0;
    background: url("./../../img/hero/overlay-hero-tablet.webp") 50% 0 / 100% 100% no-repeat;
  }

  @include vp-767 {
    background: rgba(15, 20, 41, 0.1);
  }
}

.swiper-slide-active .hero-card__inner {
  display: block;
}

.hero-card__inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 800px;
  margin: 0 auto;
  padding: 182px 0 80px;

  @include vp-1199 {
    align-items: center;
    min-height: auto;
    padding: 174px 47px 150px;
  }

  @include vp-767 {
    padding: 141px 18px 112px;
  }
}

.hero-card__inner-container h2 {
  position: relative;
  z-index: 1;
  max-width: 945px;
  margin: 0 0 23px;
  padding: 0;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;

  @include vp-1199 {
    max-width: 670px;
    margin-bottom: 13px;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }

  @include vp-767 {
    width: 290px;
    margin-bottom: 13px;
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
  }
}

.hero-card__inner-container p {
  display: inline-block;
  max-width: 470px;
  margin: 0 0 37px;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 27px;
  }

  @include vp-767 {
    width: 290px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}

.hero-card__inner-container-link-wrapper {
  margin: 0 0 20px;
  padding: 0;

  @include vp-1199 {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 233px;
  }

  @include vp-767 {
    padding: 0 52px;
  }
}

.hero-card__inner-container-link {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 20px 52px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  background: rgba(2, 102, 193, 1);
  border: 1px solid rgba(2, 102, 193, 1);
  user-select: none;

  @include vp-1199 {
    width: 100%;
    padding: 20px 46px;
    text-align: center;
  }

  @include vp-767 {
    padding: 17px 33px;
    margin-bottom: 10px;
  }

  &:hover,
  &:focus-visible {
    color: rgba(28, 51, 116, 1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 51, 116, 1);
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 1);
    background: rgba(28, 51, 116, 1);
  }
}

.hero-card-kamchatka {
  @include vp-1199 {
    .hero-card__inner-container-link-wrapper {
      margin-bottom: 34px;
    }

    .hero-card__inner-container {
      padding-bottom: 170px;

      @include vp-767 {
        padding-bottom: 108px;
      }
    }
  }
}

.hero-card-altai {
  @include vp-1199 {
    .hero-card__inner-container-link-wrapper {
      margin-bottom: 68px;
    }

    .hero-card__inner-container {
      padding-bottom: 280px;

      @include vp-767 {
        padding-bottom: 73px;
      }
    }
  }
}

.hero-card__box {
  align-self: start;
  display: flex;
  gap: 10px;
  margin: auto 0 0;
  padding: 0;

  @include vp-1199 {
    display: none;
  }
}

.hero-card__box span {
  position: relative;
  margin: 0;
  padding: 13px 20px 13px 39px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.hero-card__box svg {
  position: absolute;
  top: 15px;
  left: 19px;
}

.hero-card__video-wrapper-container {
  position: absolute;
  top: 301px;
  right: 0;
  width: 482px;
  height: 317px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 116px 68px;
  }

  @include vp-767 {
    display: none;
    padding: 0;
  }
}

.hero-card__video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;

  @include vp-767 {
    display: none;
  }
}

.hero-card__video {
  position: absolute;
  top: 0;
  left: 0;

  @include vp-1199 {
    position: static;
    width: 100%;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-card__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;

  circle {
    fill: rgba(255, 255, 255, 0.2);
  }
}

.hero-card__video-button:hover:not(:disabled),
.hero-card__video-button:focus-visible:not(:disabled) {
  outline: none;

  circle {
    stroke: rgba(28, 51, 116, 1);
  }

  path {
    stroke: rgba(0, 0, 0, 1);
  }

  cursor: pointer;
}

.hero-card__video-button:active:not(:disabled) {
  circle {
    stroke: rgba(28, 51, 116, 1);
    fill: rgba(28, 51, 116, 1);
  }

  path {
    stroke: rgba(255, 255, 255, 1);
  }
}

.hero-card__video-button:disabled {
  circle {
    stroke: rgba(2, 102, 193, 0.1);
  }

  path {
    stroke: rgba(2, 102, 193, 0.1);
    fill: rgba(2, 102, 193, 0.1);
  }
}

.hero-card__inner-container img {
  position: absolute;
  top: 202px;
  right: 0;

  @include vp-1199 {
    position: static;
    top: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-card__inner-container-audio {
  position: absolute;
  top: 301px;
  right: 0;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    display: none;
  }
}


