.instructors {
  margin: 0;
  padding: 0;
  width: 100%;

  @include vp-767 {
    position: relative;
    z-index: 2;
  }
}

.instructors__inner {
  width: 100%;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    width: 708px;
    padding: 15px;
    margin: 0 auto;
    overflow: hidden;
  }

  @include vp-767 {
    width: 320px;
    padding: 15px;
  }
}

.instructors__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 35px;
  padding: 0;

  @include vp-1199 {
    margin-bottom: 9px;
    padding: 0 15px;
  }

  @include vp-767 {
    padding: 0 15px;
    margin-bottom: 9px;
  }
}

.instructors__header h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.instructors__slider {
  margin-bottom: 27px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}
