.main__learning-process-about-us-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main__comments-advantages {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
