.navigation {
  margin: 0;
  padding: 0;
  background: transparent;
}

.navigation__list {
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
  max-width: 616px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent;
}

.navigation__list-item {
  margin: 21px 0 0 ;
  padding: 0;
  list-style: none;
}

.navigation__list-item-link {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  line-height: 16px;
}
