.tours-training-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.tours-training-wrapper::after {
  content: "";
  position: absolute;
  top: -18px;
  right: 0;
  width: 602px;
  height: 1364px;
  background: url("../../img/tours/tours-background-right.png") 0 0 / 602px 1364px no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: url("../../img/tours/tours-background-right@2x.png") 0 0 / 602px 1364px no-repeat;
  }

  @include vp-1199 {
    top: -95px;
    right: -308px;
  }

  @include vp-767 {
    width: 346px;
    height: 595px;
    top: 137px;
    right: -170px;

    background: url("../../img/tours/tours-background-right-mobile.png") 0 0 / 346px 595px no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: url("../../img/tours/tours-background-right-mobile@2x.png") 0 0 / 346px 595px no-repeat;
    }
  }
}

.tours-training-wrapper__inner {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

  @include vp-1199 {
    width: 768px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.tours-training-wrapper__inner::before {
  content: "";
  position: absolute;
  top: 502px;
  left: -418px;
  width: 837px;
  height: 279px;
  background: url("../../img/tours/tours-background-left.png") 0 0 / 837px 279px no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: url("../../img/tours/tours-background-left@2x.png") 0 0 / 837px 279px no-repeat;
  }

  @include vp-1199 {
    display: none;
  }
}
