.tours-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 412px;
  margin: 0;
  padding: 28px 20px;
  color: rgba(255, 255, 255, 1);
  background: transparent;
}

.tours-card--elbrus {
  background: rgba(2, 102, 193, 0.3) url("../../img/tours-card/elbrus-tours.jpg") 50% 0 / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba(2, 102, 193, 0.3) url("../../img/tours-card/elbrus-tours@2x.jpg") 50% 0 / cover no-repeat;
  }
}

.tours-card--altai {
  background: rgba(2, 102, 193, 0.3) url("../../img/tours-card/altai-tours.jpg") 50% 0 / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba(2, 102, 193, 0.3) url("../../img/tours-card/altai-tours@2x.jpg") 50% 0 / cover no-repeat;
  }
}

.tours-card--adygea {
  background: rgba(2, 102, 193, 0.3) url("../../img/tours-card/adygea-tours.jpg") 50% 0 / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba(2, 102, 193, 0.3) url("../../img/tours-card/adygea-tours@2x.jpg") 50% 0 / cover no-repeat;
  }
}

.tours-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/tours-card/overlay-tours.png");
}

.tours-card__inner {
  display: grid;
  grid-template-columns: 108px 108px 108px;
  column-gap: 8px;
  row-gap: 16px;
  margin: auto 0 0;
  padding: 0;
}

.tours-card__location {
  position: relative;
  margin: 0;
  padding: 2px 21px 4px 39px;
  background: rgba(2, 102, 193, 1);
}

.tours-card__location span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tours-card__location svg {
  position: absolute;
  top: 9px;
  left: 23px;
}

.tours-card__duration {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.tours-card__duration span {
  position: relative;
  display: block;
  min-width: 70px;
  margin: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: end;
}

.tours-card--elbrus span {
  padding: 0 8px 0 0;
}

.tours-card--adygea span {
  padding: 0 4px 0 0;
}

.tours-card__duration span:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 29px;
  background: url("./../../img/svg/tour-day.svg");
  width: 20px;
  height: 20px;
}

.tours-card__duration span:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  background: url("./../../img/svg/tour-night.svg");
  width: 20px;
  height: 20px;
}

.tours-card__inner h3 {
  grid-column: 1 / 3;
  margin: 7px 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.tours-card--altai h3 {
  grid-column: 1 / 4;
  max-width: 240px;
}

.tours-card__inner-footer {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 21px 0 0;
}

.tours-card__inner-footer-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  min-width: 71px;
  margin: 0;
  padding: 0;
}

.tours-card__inner-footer-item:first-child {
  min-width: 79px;
}

.tours-card__inner-footer-item:first-child::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.tours-card__inner-footer-item span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.tours-card__inner-footer-item p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

}

