.tours {
  width: 1200px;
  margin: 0 auto;
  padding: 123px 0 102px;

  @include vp-1199 {
    width: 676px;
    padding: 83px 0 70px;
  }

  @include vp-767 {
    width: 290px;
    padding: 66px 0 60px;
  }
}

.tours__header-part {
  position: relative;
  margin: 0 0 54px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }
}

.tours__header-part h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  z-index: 1;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.tours__header-part span {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: fit-content;
  color: rgba(45, 56, 63, 0.03);
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  z-index: 1;

  @include vp-1199 {
    bottom: 2px;
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
  }
}

.tours__slider {
  margin-bottom: 50px;
  overflow: hidden;

  @include vp-1199 {
    width: 666px;
    margin: 0 auto 49px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 29px;
  }
}

.tours__show-all-tours {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;

  @include vp-767 {
    display: flex;
    align-items: center;
  }
}

.tours__show-all-tours span {
  margin: 0;
  padding: 0 8px 0 0;
  color: rgba(45, 56, 63, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  @include vp-1199 {
    padding-right: 6px;
    letter-spacing: 0.47px;
  }

  @include vp-767 {
    padding-right: 12px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.tours__show-all-tours {
  &:hover,
  &:focus-visible {
    outline: none;

    span {
      color: rgba(28, 51, 116, 1);
    }

    path {
      stroke: rgba(28, 51, 116, 1);
    }
  }

  &:active {
    span {
      color: rgba(2, 102, 193, 1);
    }

    path {
      stroke: rgba(2, 102, 193, 1);
    }
  }
}
