.tours {
  width: 1200px;
  margin: 0 auto;
  padding: 123px 0 102px;
}

.tours__header-part {
  position: relative;
  margin: 0 0 54px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tours__header-part h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
}

.tours__header-part span {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: fit-content;
  color: rgba(45, 56, 63, 0.03);
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
}

.tours__header-part-box-button {
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 0;
}

.tours__header-part-button {
  width: 37px;
  height: 35px;
  margin: 0;
  padding: 0;
  background: rgba(2, 102, 193, 1);
  border: 1px solid rgba(2, 102, 193, 1);
}

.tours__header-part-button {
  &:hover,
  &:focus-visible {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 51, 116, 1);
    outline: none;
    cursor: pointer;

    path {
      fill: rgba(28, 51, 116, 1);
    }
  }

  &:active {
    background: rgba(28, 51, 116, 1);

    path {
      fill: rgba(255, 255, 255, 1);
    }
  }

  &:disabled {
    background: rgba(2, 102, 193, 0.1);
    border: 1px solid rgba(2, 102, 193, 0.1);
    cursor: auto;

    path {
      fill: rgba(255, 255, 255, 1);
    }
  }
}

.tours__slider {
  margin-bottom: 50px;
  overflow: hidden;
}

//.tours__show-all-tours-wrapper {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  margin: 0 auto;
//  padding: 0;
//}

.tours__show-all-tours {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

.tours__show-all-tours span {
  margin: 0;
  padding: 0 8px 0 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.tours__show-all-tours {
  &:hover,
  &:focus-visible {
    outline: none;
    //color: rgba(28, 51, 116, 1);
    color: #15ab07;
  }


}

//path {
//  stroke: rgba(28, 51, 116, 1);
//}

//&:active {
//  border: 1px solid rgba(255, 255, 255, 1);
//}
//.navigation--opened .navigation__list-item-link:active {
//  color: rgba(2, 102, 193, 1);
//} {
//  &:hover,
//  &:focus-visible {
//    outline: none;
//    border-bottom: 1px solid rgba(255, 255, 255, 1);
//  }
//
//  &:active {
//    border: 1px solid rgba(255, 255, 255, 1);
//  }
//}
//
//.navigation--opened .navigation__list-item-link:active {
//  color: rgba(2, 102, 193, 1);
//}
